/**
 * @file
 * Main site styles
 */
/* Mini Reset */
h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin-top: 0;
  margin-bottom: 12px;
}

ul {
  margin: 0;
  list-style: none;
}

/* Utilities */
.u-color-teal {
  color: #76eebf;
}
.top-bar {
  height: 81px;
}

.top-bar, .contain-to-grid {
  background: #fff;
}

.top-bar-section ul li > a {
  color: #333;
}

.top-bar.expanded .toggle-topbar a {
  color: #333;
}

.top-bar .toggle-topbar.menu-icon a span::after {
  box-shadow: 0 0 0 1px #333, 0 7px 0 1px #333, 0 14px 0 1px #333;
}

.top-bar .toggle-topbar.menu-icon a {
  color: #333;
}

.top-bar-section ul li > a {
  color: #fff;
}

/* BEGIN TOP HERO BANNER */
.hero {
  position: relative;
  padding: 30px 0;
  background-image: url("../img/EGP_Weddings37.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

@media screen and (min-width: 40em) {
  .hero {
    min-height: 780px;
    min-height: calc(100vh - 125px);
    padding-top: 50px;
  }
}

.hero .intro {
  padding: 0 20px;
}

@media screen and (min-width: 40em) {
  .hero .intro {
    position: relative;
    padding: 0 40px;
  }
}

.hero .page-title {
  margin-bottom: 0;
  color: #fff;
}

/*
.herobanner {
  background-image: url('img/EGP_Weddings37.jpg');
  background-repeat:  no-repeat;
  background-position: left;
  background-size: cover;
  width: 100%
}

.herobanner h1 {
  color: #fff;
}
*/
/* END TOP HERO BANNER */

/* BEGIN SERVICES */
.services {
  position: relative;
  z-index: 12;
}

.services-inner {
  padding: 30px 0;
  background-color: #000;
}

@media screen and (min-width: 40em) {
  .services-inner {
    min-height: 749px;
    padding: 60px 0 108px;
    background: url("../img/services-bg.png") no-repeat center center;
    background-size: auto 100%;
  }
}

/*
.services:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /*  background-image: linear-gradient(to bottom right, #002f4b, #dc4225);*/
  opacity: .8;
}*/

.services .intro {
  position: relative;
}

.services h1, .services-container h1 {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5em;
  letter-spacing: -0.025em;
  font-weight: 300;
}

.services p {
  color: #fff;
  line-height: 1.75em;
  font-weight: 200;
  margin-bottom: 2rem;
}

.services .tech-img {
  background: url("../img/EGP_Weddings37.jpg") no-repeat center center;
  background-size: cover;
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: 40.063em) {
  .services .tech-img {
    height: 18rem;
    width: 18rem;
  }
}

.services-container {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 40em) {
  .services-container {
    width: 70%;
  }
}

/* END SERVICES */

/* BEGIN VENUES */
.venues {
  position: relative;
  z-index: 11;
}

.venues-inner {
  padding: 30px 0;
  background: url("../img/venues.jpg") no-repeat center center;
  background-size: cover;
}

@media screen and (min-width: 40em) {
  .venues {
    margin-top: -48px;
  }

  .venues-inner {
    min-height: 668px;
    padding: 60px 0;
  }
}

.venues p {
  line-height: 1.75em;
  font-weight: 200;
  margin-bottom: 2rem;
}
/* END VENUES */

/* BEGIN VENUELINKS */
.venuelinks-inner {
  /*background: url("../img/venuelinks.jpg") no-repeat center center;*/
  /*background-size: cover;*/
  padding: 90px 0;
  background-color: #020000;
  background-image: url("../img/venuelinks1.jpg");
  background-size: cover;
}

.venuelinks li {
  line-height: 2.5;
}

.venuelinks .intro {
  position: relative;
}

.venuelinks h2 {
  margin-bottom: 30px;
  color: #fff;
  font-family: "tstarmedium", Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: -0.025em;
  line-height: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

.venuelinks .featured-item {
  padding: 0 10%;
}

.venuelinks a {
  color: #76eebf;
  text-transform: uppercase;;
}

@media screen and (min-width: 40em) {
  .venuelinks h2 {
    margin-bottom: 100px;
  }

  .venuelinks a {
    font-size: 30px;
  }
}

.venuelinks p {
  color: #fff;
  line-height: 1.75em;
  font-weight: 200;
  margin-bottom: 2rem;
}
/* END VENUELINKS */
/* BEGIN MENU SLIDER */


/* END MENU SLIDE */


/* GALLERY SLIDER */
.slide-5 {
  background-image: url("../img/gallery-img1.jpg");
}

.slide-6 {
  background-image: url("../img/gallery-img2.jpg");
}

/* END LINKS SLIDER */

/* Sample menu */
.sample-menu {

}

.sample-menu-inner {
  padding: 45px 0;
}

.sample-menu h1,
.sample-menu h4 {
  text-align: center;
}

/*BLACK DIVIDER*/
.black-divider {
  background-color: #000;
  height: 150px;
}

/*BLACK DIVIDER*/

/*FOOTER*/
.footer {
  background-color: #000;
  padding-top: 50px;
  padding-left: 17%;
  padding-right: 5%;
  min-height: 450px;
  line-height: 2;
}

.footer,
.footer h1 {
  color: #fff;
}

.footer h1 {
  margin-bottom: 30px;
}

.footer p {
  margin-bottom: 30px;
  text-transform: uppercase;
}

@media scren and (min-width: 40em) {
  .footer p {
    font-size: 30px;
  }
}

/*FOOTER*/

@media only screen and (min-width: 639px) {
  .top-bar-section ul li > a {
    color: #333;
  }
}

@media only screen and (min-width: 40em) {
  .top-bar {
    text-align: center;
  }

  ul.center-buttons {
    display: inline-block;
  }

  .logo {
    left: 5px;
    top: -2px;
    position: absolute;
  }
}

.menu-icon {
  padding-top: 1.2rem;
}

.top-bar.expanded {
  background: #fff;
}

.logo {
  margin-top: 1.0rem;
  max-width: 206px;
  height: auto;
}

/* DESKTOP */
@media only screen and (min-width: 40.0625em) {
  .top-bar {
    height: auto;
  }

  .top-bar-section li:not(.has-form) a:not(.button) {
    background: #fff;
    line-height: 6.8125rem;
  }

  /* top bar divider */
  .top-bar-section > ul > .divider {
    line-height: 6.8125rem;
    height: .8125rem;
    margin-top: 3em;
    border-right: solid 1px #C2C2C2;
  }

  .top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: #fff;
    background: #fff;
  }

  .top-bar-section ul li:hover:not(.has-form) > a {
    background-color: #555555;
    color: #C2C2C2;
  }
}

/* END DESKTOP */

.blacktext {
  color: #000 !important;
}
