/*FONTS*/
@font-face {
    font-family: 'Lavanderia';
    src: url('fonts/Lavanderia Regular.otf');
/*    src: url('fonts/FontName.eot?#iefix') format('embedded-opentype'),
        url('fonts/FontName-webfont.woff') format('woff'),
        url('fonts/FontName-webfont.ttf') format('truetype'),
        url('fonts/FontName-webfont.svg#FontName') format('svg'); */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TSTAR';
    src: url('fonts/TSTAR-Headline.otf');
    src: url('fonts/TSTAR-Headline.otf');
    src: url('fonts/TSTAR-Headline.otf');
/*    src: url('fonts/FontName.eot?#iefix') format('embedded-opentype'),
        url('fonts/FontName-webfont.woff') format('woff'),
        url('fonts/FontName-webfont.ttf') format('truetype'),
        url('fonts/FontName-webfont.svg#FontName') format('svg'); */
    font-weight: normal;
    font-style: normal;
}

/*END FONTS*/

h1 {
  font-family: 'Lavanderia';
}

.top-bar, .contain-to-grid {
  background: #fff;
}

.top-bar-section ul li > a {
  color: #333;
}

.top-bar.expanded .toggle-topbar a {
  color: #333;
}

.top-bar .toggle-topbar.menu-icon a span::after {
  box-shadow: 0 0 0 1px #333, 0 7px 0 1px #333, 0 14px 0 1px #333;
}

.top-bar .toggle-topbar.menu-icon a {
  color: #333;
}

.top-bar-section ul li > a {
  color: #fff;
}

/* BEGIN TOP HERO BANNER */
.hero {
  position: relative;
  background: url("img/EGP_Weddings37.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.hero:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /*  background-image: linear-gradient(to bottom right, #002f4b, #dc4225);*/
  opacity: .8;
}

.hero .intro {
  padding: 3rem;
  position: relative;
  top: 20%;
  transform: translateY(-50%);
}

.hero h1 {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5em;
  letter-spacing: -0.025em;
  font-weight: 300;
  text-align: center;
}

.hero p {
  color: #fff;
  line-height: 1.75em;
  font-weight: 200;
  text-align: center;
  margin-bottom: 2rem;
}

.hero .tech-img {
  background: url("img/EGP_Weddings37.jpg") no-repeat center center;
  background-size: cover;
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: 40.063em) {
  .hero .tech-img {
    height: 18rem;
    width: 18rem;
  }

  .hero h1 {
    padding-top: 4.5rem;
    text-align: right;
    font-size: 2.5rem;
  }

  .hero p {
    text-align: right;
  }
}

/*
.herobanner {
  background-image: url('img/EGP_Weddings37.jpg');
  background-repeat:  no-repeat;
  background-position: left;
  background-size: cover;
  width: 100%
}

.herobanner h1 {
  color: #fff;
}
*/
/* END TOP HERO BANNER */

/* BEGIN SERVICES */
.services {
  position: relative;
  background: url("img/services.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.services:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /*  background-image: linear-gradient(to bottom right, #002f4b, #dc4225);*/
  opacity: .8;
}

.services .intro {
  padding: 3rem;
  position: relative;
  top: 20%;
  transform: translateY(-50%);
}

.services h1, .services-container h1 {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5em;
  letter-spacing: -0.025em;
  font-weight: 300;
  text-align: center;
}

.services p {
  color: #fff;
  line-height: 1.75em;
  font-weight: 200;
  text-align: center;
  margin-bottom: 2rem;
}

.services .tech-img {
  background: url("img/EGP_Weddings37.jpg") no-repeat center center;
  background-size: cover;
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: 40.063em) {
  .services .tech-img {
    height: 18rem;
    width: 18rem;
  }

  .services h1, {
    padding-top: 4.5rem;
    text-align: right;
    font-size: 2.5rem;
  }

  .services-container h1 {
  padding-top: 2.5rem;
  text-align: right;
  font-size: 2.5rem;
}

  .services p {
    text-align: right;
  }
}

.services-container {
  width: 70%;
  margin: 0 auto;
}

/* END SERVICES */

/* BEGIN VENUES */
.venues {
  position: relative;
  background: url("img/venues.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.venues:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /*  background-image: linear-gradient(to bottom right, #002f4b, #dc4225);*/
  opacity: .8;
}

.venues .intro {
  padding: 3rem;
  position: relative;
  top: 20%;
  transform: translateY(-50%);
}

.venues h1 {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5em;
  letter-spacing: -0.025em;
  font-weight: 300;
  text-align: center;
}

.venues p {
  color: #fff;
  line-height: 1.75em;
  font-weight: 200;
  text-align: center;
  margin-bottom: 2rem;
}

.venues .tech-img {
  background: url("img/venues.jpg") no-repeat center center;
  background-size: cover;
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: 40.063em) {
  .venues .tech-img {
    height: 18rem;
    width: 18rem;
  }

  .venues h1 {
    padding-top: 4.5rem;
    text-align: right;
    font-size: 2.5rem;
  }

  .venues p {
    text-align: right;
  }
}

.venues-container {
  width: 70%;
  margin: 0 auto;
}

/* END VENUES */

/* BEGIN VENUELINKS */
.venuelinks {
  background: url("img/venuelinks.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.venuelinks:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /*  background-image: linear-gradient(to bottom right, #002f4b, #dc4225);*/
  opacity: .8;
}

.venuelinks .intro {
  padding: 3rem;
  position: relative;
  top: 20%;
  transform: translateY(-50%);
}

.venuelinks h1 {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5em;
  letter-spacing: -0.025em;
  font-weight: 300;
  text-align: center;
}

.venuelinks p {
  color: #fff;
  line-height: 1.75em;
  font-weight: 200;
  text-align: center;
  margin-bottom: 2rem;
}

.venuelinks .tech-img {
  background: url("img/venuelinks.jpg") no-repeat center center;
  background-size: cover;
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: 40.063em) {
  .venuelinks .tech-img {
    height: 18rem;
    width: 18rem;
  }

  .venuelinks h1 {
    padding-top: 4.5rem;
    text-align: right;
    font-size: 2.5rem;
  }

  .venuelinks p {
    text-align: right;
  }
}

.venuelinks-container {
  width: 70%;
  margin: 0 auto;
}

/* END VENUELINKS */

/* SLIDER */
#slide1 {
  background-image: url("img/venuelinks1.jpg");
  height: 100%;
  width: 100%;
}

#slide2 {
  background-image: url("img/venuelinks2.jpg");
  height: 100%;
  width: 100%;
}

/* END SLIDER */


/* BEGIN scallops */
.scallops {
  position: relative;
  background: url("img/scallops.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.scallops:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /*  background-image: linear-gradient(to bottom right, #002f4b, #dc4225);*/
  opacity: .8;
}

.scallops .intro {
  padding: 3rem;
  position: relative;
  top: 20%;
  transform: translateY(-50%);
}

.scallops h1 {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5em;
  letter-spacing: -0.025em;
  font-weight: 300;
  text-align: center;
}

.scallops p {
  color: #fff;
  line-height: 1.75em;
  font-weight: 200;
  text-align: center;
  margin-bottom: 2rem;
}

.scallops .tech-img {
  background: url("img/scallops.jpg") no-repeat center center;
  background-size: cover;
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: 40.063em) {
  .scallops .tech-img {
    height: 18rem;
    width: 18rem;
  }

  .scallops h1 {
    padding-top: 4.5rem;
    text-align: right;
    font-size: 2.5rem;
  }

  .scallops p {
    text-align: right;
  }
}

.scallops-container {
  width: 70%;
  margin: 0 auto;
}

/* END scallops */

/*BLACK DIVIDER*/
.black-divider  {
  background-color: #000;
  height: 150px;
}
/*BLACK DIVIDER*/

/*FOOTER*/
.footer  {
  background-color: #000;
  height: 200px;
}
/*FOOTER*/




@media only screen and (min-width: 639px) {
  .top-bar-section ul li > a {
    color: #333;
  }
}

@media only screen and (min-width: 40em) {
  .top-bar {
    text-align: center;
  }

  ul.center-buttons {
    display: inline-block;
  }

  .logo {
    left: 5px;
    top: -2px;
    position: absolute;
  }
}

.menu-icon {
  padding-top: 1.2rem;
}

.top-bar.expanded {
  background: #fff;
}

.logo {
  margin-top: 1.0rem;
  max-width: 206px;
  height: auto;
}

/* DESKTOP */
@media only screen and (min-width: 40.0625em) {
  .top-bar {
    height: 6.8125rem;
  }

  .top-bar-section li:not(.has-form) a:not(.button) {
    background: #fff;
    line-height: 6.8125rem;
  }

  /* top bar divider */
  .top-bar-section > ul > .divider {
    line-height: 6.8125rem;
    height: .8125rem;
    margin-top: 3em;
    border-right: solid 1px #C2C2C2;
  }

  .top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: #fff;
    background: #fff;
  }

  .top-bar-section ul li:hover:not(.has-form) > a {
    background-color: #555555;
    color: #C2C2C2;
  }
}

/* END DESKTOP */

.blacktext {
  color: #000 !important;
}
