/**
 * Base typography stlyes
 */

body {
  font-family: 'tstarregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
}

h1 {
  font-family: 'lavanderia_regular', serif;
  font-size: 30px;
}

@media screen and (min-width: 40em) {
  h1 {
    font-size: 60px;
  }
}
